<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Examples</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    {% include 'navbar.html' %}
    <div class="container mt-5 text-center">
        <h1>Coding Examples:</h1>
        
        <!-- Link buttons for coding examples -->
        <div class="mt-4 mb-4">
            <a href="/easy-coding-example" class="btn btn-primary">
                <img src="https://miro.medium.com/v2/resize:fit:2000/1*XXI-kg18liPn4XcfZmoqQQ.jpeg" alt="Easy Coding Example" style="width: 200px; height: auto;">
                Easy Coding Example
            </a>
            <a href="/hard-coding-example" class="btn btn-primary">
                <img src="https://miro.medium.com/v2/resize:fit:2000/1*XXI-kg18liPn4XcfZmoqQQ.jpeg" alt="Hard Coding Example" style="width: 200px; height: auto;">
                Hard Coding Example
            </a>            
        </div>
        
        <!-- Button to take the quiz -->
        <a href="/take-quiz" class="btn btn-large btn-success">TAKE QUIZ</a>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
