<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ Part 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Include the navbar -->
    {% include 'navbar.html' %}

    <div class="container mt-5 text-center">
        <h1>QUIZ Part 1:</h1>
        
        <!-- Embedding the video -->
        <div class="video-placeholder my-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/F90MlSoPofQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <form action="{{ url_for('quiz_part1') }}" method="POST">
            <div class="question-box my-4">
                <p>In the video, a list comprehension is used to create a new list of even numbers squared from an existing list of integers. If the original list is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], what would be the output of the list comprehension [x**2 for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] if x % 2 == 0]?</p>
                <!-- Radio buttons for options -->
                <div class="options">
                    <input type="radio" name="question1" value="A" id="optionA">
                    <label for="optionA">A) [1, 4, 9, 16, 25]</label><br>
        
                    <input type="radio" name="question1" value="B" id="optionB">
                    <label for="optionB">B) [4, 16, 36, 64, 100]</label><br>
        
                    <input type="radio" name="question1" value="C" id="optionC">
                    <label for="optionC">C) [2, 4, 6, 8, 10]</label><br>
        
                    <input type="radio" name="question1" value="D" id="optionD">
                    <label for="optionD">D) [1, 9, 25, 49, 81]</label>
                </div>
            </div>
        
            <!-- Practice text box -->
            <div class="practice-box my-4">
                <textarea class="form-control" rows="5" placeholder="Type practice/answer here" name="practice_answer"></textarea>
            </div>
        
            <!-- Submit button -->
            <div class="navigation-buttons my-4">
                <button type="submit" class="btn btn-primary">Next Part</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap and other scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
